{% extends 'index.html' %}

{% block content %}
  <h2>Job Listings</h2>
  <table class="table mb-3">
    <thead>
      <tr class="table-primary">
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Salary Range</th>
        <th scope="col">Tags</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.title }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.salary_range }}</td>
          <td>{{ job.tags }}</td>
          <td>
            <button class="btn btn-primary" type="button">
            <a href="{% url 'edit_job' job.id %}">Edit</a>
            </button>
            <button class="btn btn-danger" type="button">
            <a href="{% url 'delete_job' job.id %}">Delete</a>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if jobs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="/job/list/?page={{jobs.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for page in total_pages %}
    <li class="page-item"><a class="page-link" href="/job/list/?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if jobs.has_next %}
    <li class="page-item">
      <a class="page-link" href="/job/list/?page={{jobs.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<button class="btn btn-primary m-2" type="button">
    <a href="{% url 'create_job' %}">Create New Job</a>
</button>
{% endblock %}